@font-face {
	font-family: 'font-moment';
	src:url('fonts/font-moment.eot?-cw6v56');
	src:url('fonts/font-moment.eot?#iefix-cw6v56') format('embedded-opentype'),
		url('fonts/font-moment.woff?-cw6v56') format('woff'),
		url('fonts/font-moment.ttf?-cw6v56') format('truetype'),
		url('fonts/font-moment.svg?-cw6v56#font-moment') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'font-moment';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
	content: "\f00c";
}

.icon-close:before {
	content: "\f00d";
}

.icon-trash-o:before {
	content: "\f014";
}

.icon-image:before {
	content: "\f03e";
}

.icon-plus:before {
	content: "\f067";
}

